.hamburger-nav,
.mobileLeftNavMenu {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Futura, "Century Gothic", Roboto, sans-serif;
    font-size: 14px;
    display: none;
    width: 75%;
    min-height: 100%;
    background-color: #e3e3e3;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: 75px 75px
}

.hamburger-nav.loading,
.mobileLeftNavMenu.loading {
    background-image: url('/category/responsive/loading-spinner.gif')
}

.hamburger-nav>ul,
.mobileLeftNavMenu>ul {
    padding: 50px 0;
    box-sizing: border-box
}

.hamburger-nav li,
.mobileLeftNavMenu li {
    position: relative
}

.hamburger-nav li.disabled,
.mobileLeftNavMenu li.disabled {
    filter: alpha(opacity=50);
    opacity: .5;
    background-color: #fff
}

.hamburger-nav li.disabled>*,
.mobileLeftNavMenu li.disabled>* {
    filter: alpha(opacity=50);
    opacity: .5
}

.hamburger-nav i,
.hamburger-nav a,
.mobileLeftNavMenu i,
.mobileLeftNavMenu a {
    display: block;
    color: #252525;
    line-height: 20px;
    font-family: Futura, "Century Gothic", Roboto, sans-serif;
    font-style: normal;
    padding: 15px 20px
}

.hamburger-nav i span.boutiqueTextAdornments,
.hamburger-nav a span.boutiqueTextAdornments,
.mobileLeftNavMenu i span.boutiqueTextAdornments,
.mobileLeftNavMenu a span.boutiqueTextAdornments {
    margin-left: 5px;
    padding: 0 4px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    background-color: #333
}

.hamburger-nav>ul>li>a,
.mobileLeftNavMenu>ul>li>a {
    text-transform: uppercase
}

.hamburger-nav li li a.highlight,
.mobileLeftNavMenu li li a.highlight {
    color: #3474ad
}

.hamburger-nav li[data-navid='mynm']>a,
.mobileLeftNavMenu li[data-navid='mynm']>a {
    font-size: 0;
    background: url(/images/WN/sprite-mynm.png) 0 0 no-repeat
}

.hamburger-nav li[data-navid='mynm'].active>a,
.mobileLeftNavMenu li[data-navid='mynm'].active>a {
    background-position: 0 -54px
}

.hamburger-nav .letter-no-children,
.mobileLeftNavMenu .letter-no-children {
    background-color: #f6f6f6
}

.hamburger-nav .letter-no-children>i,
.hamburger-nav .letter-no-children>a,
.mobileLeftNavMenu .letter-no-children>i,
.mobileLeftNavMenu .letter-no-children>a {
    color: #ccc
}

.hamburger-nav>ul>li,
.mobileLeftNavMenu>ul>li {
    border-top: 1px solid #ccc
}

.hamburger-nav>ul>li:last-child,
.mobileLeftNavMenu>ul>li:last-child {
    border-bottom: 1px solid #ccc
}

.hamburger-nav>ul>li.active,
.mobileLeftNavMenu>ul>li.active {
    background-color: #000;
    color: #fff;
    border-color: #000
}

.hamburger-nav>ul>li.active>i,
.hamburger-nav>ul>li.active>a,
.hamburger-nav>ul>li.active>label,
.mobileLeftNavMenu>ul>li.active>i,
.mobileLeftNavMenu>ul>li.active>a,
.mobileLeftNavMenu>ul>li.active>label {
    color: #fff
}

.hamburger-nav>ul>li .current>a,
.mobileLeftNavMenu>ul>li .current>a {
    font-weight: bold
}

.hamburger-nav li>ul,
.mobileLeftNavMenu li>ul {
    background: #fff;
    border-width: 0 0 2px 5px;
    border-style: solid;
    border-color: #666;
    display: none
}

.hamburger-nav li>ul>li,
.mobileLeftNavMenu li>ul>li {
    border-top: 1px solid #ddd
}

.hamburger-nav li>ul ul,
.mobileLeftNavMenu li>ul ul {
    border-top-width: 2px
}

.hamburger-nav li.active>ul,
.mobileLeftNavMenu li.active>ul {
    display: block
}

.hamburger-nav-header {
    position: fixed;
    top: 0;
    width: 75%;
    height: 50px;
    background: #e3e3e3;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    z-index: 1001
}

.hamburger-nav-header .mobile-close {
    cursor: pointer
}

.hamburger-nav-preload {
    background: url("/images/WN/sprite-mynm.png") no-repeat -9999px -9999px
}

.hamburger-nav-toggle {
    cursor: pointer;
    text-align: center;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.hamburger-nav-toggle .mobile-plus,
.hamburger-nav-toggle .mobile-minus,
.hamburger-nav-toggle .mobile-minus-white {
    max-width: 12px;
    vertical-align: middle
}

.hamburger-nav-toggle .mobile-minus,
.hamburger-nav-toggle .mobile-minus-white {
    display: none
}

.active>a>.hamburger-nav-toggle .mobile-plus {
    display: none
}

.active>a>.hamburger-nav-toggle .mobile-minus {
    display: inline-block
}

.hamburger-nav>ul>.active>a>.hamburger-nav-toggle {
    border-left-color: #fff
}

.hamburger-nav>ul>.active>a>.hamburger-nav-toggle>.mobile-plus,
.hamburger-nav>ul>.active>a>.hamburger-nav-toggle>.mobile-minus {
    display: none
}

.hamburger-nav>ul>.active>a>.hamburger-nav-toggle>.mobile-minus-white {
    display: inline-block
}

@media only screen and (max-width:767px) {

    .html-hamburger-open,
    .html-hamburger-open body {
        height: auto;
        min-height: 100vh
    }

    .html-hamburger-open body {
        background: #e3e3e3
    }

    .html-hamburger-open .hamburger-nav {
        display: block
    }

    .html-hamburger-open .entire-site-container {
        width: 100%;
        min-height: 150%;
        position: fixed !important;
        top: 0;
        left: 75%;
        z-index: -1
    }

    .html-hamburger-open .mobile-icon-hamburger {
        background: 0
    }

    .html-hamburger-open .mobile-icon-hamburger .mobile-hamburger {
        display: block !important
    }

    .html-hamburger-open .mobile-icon-hamburger .mobile-close {
        display: none !important
    }

    .html-hamburger-open .back-to-top {
        display: none !important
    }
}

.hamburger-nav-form {
    display: none;
    padding: 10px 20px;
    background: #666
}

.active>.hamburger-nav-form {
    display: block
}

.hamburger-nav-input {
    border: 0
}

.hamburger-nav-results {
    display: none !important
}

.hamburger-nav-results u {
    color: #3474ad
}

.hamburger-nav-error {
    margin: auto;
    width: 80%;
    white-space: normal;
    text-align: center;
    position: relative;
    top: 40%
}

.hamburger-filters-active ul {
    display: none !important
}

.hamburger-filters-active .hamburger-nav-results {
    display: block !important
}

.hamburger-nav-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: none
}

@media only screen and (max-width:767px) {
    .html-hamburger-open .hamburger-nav-screen {
        display: block
    }
}

.hamBAlign {
    margin-left: 0 !important
}

ul.mobileLeftNavMenu {
    text-transform: uppercase
}

ul.mobileLeftNavMenu form {
    display: inline-block;
    text-align: center;
    padding: 20px;
    padding-bottom: 12px
}

.mobileLeftNavMenu input[type="submit"].as-anchor {
    color: #252525 !important;
    text-transform: inherit
}

li[data-navid='navMyAccount'] {
    border-top: 2px solid #999 !important
}

.mobileLeftNavMenu li {
    border-bottom: 1px solid #ccc;
    margin-left: 0
}

.hamburger-nav {
    padding-bottom: 0 !important
}

.mobileLeftNavMenu li.active>ul {
    margin: 0
}

.mobileLeftNavMenu>ul>li.active {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important
}

.mobileLeftNavMenu a.highlight {
    background: #000;
    color: #fff
}

li[data-navid='navMyAccount'] .responsive-sprites.mobile-minus img {
    width: 1843.47826% !important;
    margin-top: -334.78261% !important;
    margin-bottom: -817.3913% !important;
    margin-left: -1121.73913% !important
}